.details-btn:hover{
    background-color:#73BF9C ;
    color: white;
    border: none;
}

@media screen and (max-width: 680px){
    .recomend-text{
        flex-direction: column;
        justify-content:right;
    }
    

}